html {
  background-color: light-dark(#fafafa, #27272a);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-items: stretch;
}

#rot13Text {
  flex-grow: 1;
  height: 12em;
  margin-inline: 1em;
  overflow: auto;
  white-space: pre-wrap;
}

#buttonRow {
  display: flex;
  justify-content: end;
  margin-block-end: 1em;
  margin-inline: 1em;
}
